
{% extends 'univs/base.html' %}

{% block title %} Main Page {% endblock %}

{% block content %}
 <div class="menu_roomframe row row_margin">
  <div class="menu_roomframe_content">
    <div class="row menu_roomframe_content_frame row_margin">
      <div class="menu_roomframe_content_101 col-4">
        <div class="menu_roomframe_content_101_square">
          101
        </div>
      </div>
      <div class="menu_roomframe_content_102 col-4">
        <div class="menu_roomframe_content_102_square">
          102
        </div>
      </div>
      <div class="menu_roomframe_content_103 col-4">
        <div class="menu_roomframe_content_103_square">
          103
        </div>
      </div>
    </div>
    <div class="row menu_roomframe_content_text row_margin">
      <div class="menu_roomframe_content_text_101 col-4">
        {% for roominfo101 in roominfo_101 %}
        {% if roominfo101.us_use == 1 %}
          <a href="{% url 'univs:userInfo' roominfo=roominfo101.us_roomname roomtime=roominfo101.us_roomtime %}">{{roominfo101.us_roomname}}
          </a>
        {% else %}
        {{roominfo101.us_roomname}}
        {% endif %}
        <div class="">
          {{roominfo101.us_roomtime}}
        </div>
        {% endfor %}
      </div>
      <div class="menu_roomframe_content_text_102 col-4">
        {% for roominfo102 in roominfo_102 %}
        {% if roominfo102.us_use == 1 %}
        <a href="{% url 'univs:userInfo' roominfo=roominfo102.us_roomname roomtime=roominfo102.us_roomtime %}">{{roominfo102.us_roomname}}
        </a>
        {% else %}
        {{roominfo102.us_roomname}}
        {% endif %}
        <div class="">
          {{roominfo102.us_roomtime}}
        </div>
        {% endfor %}
      </div>
      <div class="menu_roomframe_content_text_103 col-4">
        {% for roominfo103 in roominfo_103 %}
        {% if roominfo103.us_use == 1 %}
        <a href="{% url 'univs:userInfo' roominfo=roominfo103.us_roomname roomtime=roominfo103.us_roomtime %}">{{roominfo103.us_roomname}}
        </a>
        {% else %}
        {{roominfo103.us_roomname}}
        {% endif %}
        <div class="">
          {{roominfo103.us_roomtime}}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
 </div>
{% endblock %}
